<%= simple_form_for article do |f| %>
    <div>
        <%= f.input :title, label:'Titre du tuto', class:'form-group' %> 
        <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= f.input :body, label:'Contenu du tuto' %>
        <% if article.image? %>
            <p>
                <%= image_tag article.image_url %>
            </p>
        <% end %>    
        <%= f.input :image, as: :file %>
        <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= f.label :status, 'Statut', class:'form-label' %><br>
        <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div> 
    
    <div class="text-center">
        <%= f.submit 'Publier un tuto', class:'btn btn-secondary'%>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    </div> 
<% end %>