<div class="row m-2">
    <div class="col col-lg-8 mx-auto p-5 bg-white border rounded shadow">  
        <h1 class=" mb-3 text-center fw-bold"><%= @article.title %></h1>
        <div class="text-center mb-5"><%= @article.body %></div>
        <div class="text-center" >
            <% if @article.image? %>
                <img src=<%= @article.image_url %> class=" mx-auto" alt="image tuto">
            <% end %>                
        </div>
        <div class="text-center mt-5">
            <div class="btn btn-secondary"><%= link_to "Modifier", edit_article_path(@article), class:'bouton' %></div>        
            <div class="btn btn-secondary"><%= link_to "Supprimer", article_path(@article), class:'bouton',
                method: :delete,
                data: { confirm: "Êtes-vous sûr(e)" } %>
            </div>
        </div>
        <h2 class="mt-5">Commentaires</h2>
        <%= render @article.comments %>       
    </div>
</div>

<div class="row m-2 ">
    <div class="col col-lg-8 mx-auto p-5">          
        <div class=" mt-5">
            <h2>Ajouter un commentaire : </h2>
            <%= render 'comments/form' %> 
        </div>
    </div>
    <div class="text-center"><%= link_to '<i class="bi bi-arrow-left-square-fill fs-1"></i>'.html_safe, articles_path(@articles), title:'Revenir à la page d\'accueil' %></div>
</div>




